.formContainer{
    margin: auto;
    padding: 10px;
    background-color: bisque;
    width: 40%;
    border: 3px solid red;
    border-radius: 10px;
}

.form{
    padding: 0px 15px 0px 15px;
}

.input:disabled{
    background-color: transparent;
    border: none;
    text-align: center;
}